<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.nobird.hse2021.sample">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".navigation.SourceActivity" />
        <activity android:name=".navigation.SecondActivity" />
        <activity android:name=".fragment.arguments.ArgumentsActivity" />
        <activity android:name=".fragment.dynamic.FragmentDynamicActivity" />
        <activity android:name=".fragment.multiple.MultipleFragmentsActivity" />
        <activity android:name=".fragment.navigation.NavigationActivity" />
        <activity android:name=".fragment.FragmentsActivity" />
        <activity android:name=".dialogfragment.DialogsActivity" />
        <activity android:name=".githubuserlist.presentation.ui.activity.GithubUserListActivity" />
    </application>

</manifest>